body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif; }

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto; }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px; }

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  background: rgba(178, 178, 178, 0.7);
  padding: 20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.scroll:hover {
  background: #b2b2b2;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.scroll:hover .fa {
  padding-top: -10px; }

.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.nav {
  background-color: white;
  border-bottom: 1px solid pink;
  height: 70px;
  line-height: 60px;
  margin: 0;
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 0; }
  .nav img {
    float: left;
    width: 150px;
    height: 50px; }

.menu {
  margin: 0 30px 0 0; }

.menu a {
  z-index: 1;
  font-size: 20px;
  text-decoration: none;
  clear: right;
  color: pink;
  margin: 0 10px;
  line-height: 60px; }

.menu a:hover {
  color: purple; }

label {
  width: 26px;
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  float: right;
  color: #56bdbf; }

#toggle {
  display: none; }

.search-container {
  float: right; }
  .search-container input[type=text] {
    margin-top: 10%;
    font-size: 15px;
    border: none;
    float: right; }

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8%;
  margin-right: 16px;
  background: pink;
  font-size: 15px;
  border: none;
  cursor: pointer; }

.search-container button:hover {
  background: pink; }

.home_about {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #eaeae1; }

.code4ct {
  margin: 5% 10% 5% 10%; }
  .code4ct .part_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-size: 20px; }
    .code4ct .part_one p {
      font-size: 20px; }
    .code4ct .part_one img {
      width: 500px; }
    .code4ct .part_one a {
      text-decoration: none;
      color: pink;
      border: solid 2px pink;
      padding: 10px; }
    .code4ct .part_one a:hover {
      color: purple;
      border: solid 2px purple; }

.whoWeAre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  background-color: #eaeae1; }
  .whoWeAre h1 {
    text-align: left;
    margin-top: 2%;
    margin-left: 2%; }
  .whoWeAre p {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
    text-align: left;
    font-size: 17px; }
  .whoWeAre img {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 760px; }
  .whoWeAre .fourparts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 2%;
    margin-right: 10%; }
    .whoWeAre .fourparts h3 {
      color: pink;
      text-align: left;
      margin: 0; }
    .whoWeAre .fourparts article {
      margin-top: 0; }

.our_team {
  margin-left: 10%;
  margin-right: 10%; }
  .our_team h1 {
    font-size: 40px;
    text-align: center; }
  .our_team .team {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    text-align: center; }
    .our_team .team article {
      text-align: left;
      margin-left: 5%; }
    .our_team .team .emma {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto; }
    .our_team .team .andrea {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto; }
    .our_team .team .tegan {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto; }
    .our_team .team .tracy {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto; }
    .our_team .team hr {
      display: none; }
    .our_team .team img {
      float: left;
      width: 250px; }
    .our_team .team div {
      padding: 10px; }

/*class timer display,grid-template-column,grid-template-rows,grid-gap,width,height,background-colour,padding-left,and colour*/
.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 50px;
  width: 100%;
  height: 250px;
  background-color: black;
  padding-left: 80px;
  color: white; }

/*class circle width,margin,display,position,and text-align*/
.circle {
  width: 100%;
  margin: 6px 20px 20px;
  display: inline-block;
  position: relative;
  text-align: center; }

/*class timer div width,height,padding-top*/
.timer div {
  width: 150px;
  height: 150px;
  padding-top: 50px; }

/*strong position,top,left,width,text-align,line-height,font-size,colour,and padding-top*/
strong {
  position: absolute;
  top: 30px;
  left: 45px;
  width: 70px;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  color: white;
  padding-top: 50px; }

.subsribe_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center; }
  .subsribe_section i {
    color: pink; }
  .subsribe_section input {
    margin: 0 auto;
    width: 200px;
    height: 30px; }
  .subsribe_section button {
    width: 150px;
    height: 40px;
    background-color: pink;
    color: white;
    font-size: 17px;
    border-radius: 5px; }
  .subsribe_section button:hover {
    background-color: purple; }

.subsribe_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center; }
  .subsribe_section i {
    color: pink; }
  .subsribe_section input {
    margin: 0 auto;
    width: 200px;
    height: 30px; }
  .subsribe_section button {
    width: 100px;
    height: 30px; }

.container {
  position: static;
  height: 200px;
  border: 1px solid black;
  width: 99%;
  overflow: hidden;
  background-color: black; }
  .container .customer_logos {
    height: 120px;
    width: 250%;
    background-color: black;
    animation-name: thing;
    animation-duration: 15s;
    animation-timing-function: ease-in;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    left: 100%; }
@keyframes thing {
  100% {
    position: relative;
    left: -3880px; } }
  .container img {
    width: 180px;
    height: 180px;
    margin-right: 50px; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-right: 10%;
  margin-left: 10%; }
  footer .column1 {
    margin-top: 5%;
    margin-left: 20%; }
  footer .column2 {
    font-size: 25px;
    margin-top: 10%;
    margin-left: 20%; }
    footer .column2 a {
      text-decoration: none;
      color: black; }
  footer .column3 {
    margin-top: 5%;
    margin-left: 20%; }
    footer .column3 p {
      font-size: 17px; }

.copyright {
  background-color: pink;
  height: 40px;
  line-height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; }
  .copyright p {
    color: black;
    line-height: 40px;
    margin: 0; }
  .copyright .icons {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto;
    background-color: pink; }
    .copyright .icons i {
      font-size: 20px;
      line-height: 40px; }

@media screen and (max-width: 960px) {
  .code4ct {
    margin: 5% 10% 5% 10%;
    text-align: center; }
    .code4ct P {
      text-align: left; }
    .code4ct .part_one {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; }
    .code4ct .part_two {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto; }

  .whoWeAre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
    .whoWeAre h1 {
      text-align: left;
      margin-top: 5%; }
    .whoWeAre p {
      margin-top: 5%;
      text-align: left; }
    .whoWeAre img {
      margin-top: 5%;
      width: 600px; }
    .whoWeAre .fourparts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%; }
      .whoWeAre .fourparts h3 {
        color: pink;
        text-align: left; }

  .our_team h1 {
    font-size: 40px;
    text-align: center; }
  .our_team .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center; }
    .our_team .team hr {
      display: none; }
    .our_team .team img {
      float: left;
      width: 250px; }
    .our_team .team div {
      padding: 10px; }

  .container .customer_logos {
    width: 450%; } }
@media screen and (max-width: 600px) {
  body {
    width: 100%; }

  .nav {
    width: 100%;
    position: sticky;
    top: 0; }

  .search-container {
    display: none; }

  label {
    display: block;
    cursor: pointer;
    position: sticky;
    top: 2%;
    right: 2%; }

  .menu {
    text-align: center;
    width: 100%;
    display: none; }

  .menu a {
    background-color: white;
    display: block;
    border: 1px solid pink;
    margin: 0; }

  #toggle:checked + .menu {
    display: block; }

  .code4ct {
    margin: 0;
    text-align: center; }
    .code4ct .part_one {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      font-size: 18px;
      width: 100%;
      text-align: center; }
      .code4ct .part_one article {
        width: 94%; }
        .code4ct .part_one article p {
          font-size: 17px;
          text-align: left; }
      .code4ct .part_one img {
        width: 300px;
        margin: 0 auto; }
      .code4ct .part_one a {
        text-decoration: none;
        color: pink;
        border: solid 2px pink;
        padding: 10px; }
      .code4ct .part_one a:hover {
        color: purple;
        border: solid 2px purple; }
    .code4ct .part_two {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      font-size: 18px;
      margin-top: 2%;
      width: 100%;
      text-align: center; }
      .code4ct .part_two article {
        width: 94%; }
        .code4ct .part_two article p {
          font-size: 17px;
          text-align: left; }
      .code4ct .part_two img {
        width: 300px;
        margin: 0 auto; }

  .whoWeAre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center; }
    .whoWeAre p {
      text-align: left; }
    .whoWeAre img {
      width: 300px; }
    .whoWeAre .fourparts {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto; }

  .our_team .team {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    text-align: center; }
    .our_team .team img {
      width: 80%;
      float: none; }

  /*class timer display,grid-template-column,grid-template-rows,grid-gap,width,height,background-colour,padding-left,and colour*/
  .timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 50px;
    width: 100%;
    height: 250px;
    background-color: black;
    padding-left: 80px;
    color: white; }

  /*class circle width,margin,display,position,and text-align*/
  .circle {
    width: 100%;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center; }

  /*class timer div width,height,padding-top*/
  .timer div {
    width: 150px;
    height: 150px;
    padding-top: 50px; }

  /*strong position,top,left,width,text-align,line-height,font-size,colour,and padding-top*/
  strong {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 70px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    color: white;
    padding-top: 50px; }

  .container {
    position: static;
    height: 200px;
    border: 1px solid black;
    width: 99%;
    overflow: hidden;
    background-color: black; }
    .container .customer_logos {
      height: 120px;
      width: 1050%;
      background-color: black;
      animation-name: thing;
      animation-duration: 15s;
      animation-timing-function: ease-in;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      position: relative;
      left: 100%; }
  @keyframes thing {
    100% {
      position: relative;
      left: -3880px; } }
    .container img {
      width: 180px;
      height: 180px;
      margin-right: 50px; }

  .stats {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto; }

  .subsribe_section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: center; }
    .subsribe_section .subscribe {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      display: inline h1;
        display-text-align: left; }
      .subsribe_section .subscribe input {
        text-align: center;
        display: block; }
      .subsribe_section .subscribe button {
        width: 100px;
        height: 30px;
        margin: 0 auto; }

  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    margin: 0; }
    footer .column1 {
      margin: 0; }
    footer .column2 {
      font-size: 25px;
      margin-top: 10%;
      margin: 0; }
      footer .column2 a {
        text-decoration: none;
        color: black; }
    footer .column3 {
      margin-top: 5%;
      margin: 0; }
      footer .column3 p {
        font-size: 17px; }

  .copyright {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
    .copyright p {
      text-align: center; }
    .copyright i {
      margin: 0 auto; } }

/*# sourceMappingURL=about.css.map */
