//Start of the css
//Adding a font to the entire page
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
  }
  //Container for the whole page
  #container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


  //styling the nav
.nav{
    background-color: white;
    border-bottom: 1px solid pink;
    height: 70px;
    line-height: 60px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    //Editing the logo
    img{
        float: left;
        width: 150px;
        height: 50px;
    }
}
    
    //Adding a margin to the left of the icon when displayed
    .menu{
        margin: 0 30px 0 0;
    }
    //Styling the links
    .menu a{
        z-index: 1;
        font-size: 20px;
        text-decoration: none;
        clear: right;
        color: pink;
        margin: 0 10px;
        line-height: 60px;
    }
    .menu a:hover{
        color: purple;
    }
    //Styling the hamburger menu icon
    label{
        width: 26px;
        margin: 0 20px 0 0;
        font-size: 26px;
        line-height: 60px;
        display: none;
        float: right;
        color:#56bdbf;
    }
    //Not displaying the checkbox
    #toggle{
        display: none;
    }

  .search-container {
    float: right;
  
  //The input for the search bar
  input[type=text] {
    margin-top: 10%;
    font-size: 15px;
    border: none;
    float: right;
  }
}
  //The search button
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8%;
    margin-right: 16px;
    background: pink;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  //Adding a hover effect over the search button
  .search-container button:hover {
    background: pink;
  }
  .button{
      width: 150px;
      height: 40px;
      background-color: pink;
      color: black;
      border-radius: 12px;
      font-size: 20px;
  }
  p{
      text-align: center;
  }
  .box{
      border: solid 2px pink;
      text-align: center;
  }
  h2{
      text-align: center;
  }
  .grey{
      background-color: #eaeae1;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  i{
     font-size: 20px;
     cursor: pointer; 
  }
  .recommendedStreams{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-left: 10%;
      margin-right: 10%;
      i{
          color: pink;
      }
  }

  .individualCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: pink;
    }
  }

  .beginnerCodingCourses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: pink;
    }
  }

  .intermediateCodingCourses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: pink;
    }
  }

  .socialInnovation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    i{
        color: pink;
    }
  }

  .careerAndLifeSkills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    i{
        color: pink;
    }
  }

//   .basket{
//       display: grid;
//       grid-template-columns: ;
//       grid-template-rows: ;
//   }







  //FOOTER
footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-right: 10%;
    margin-left: 10%;
    .column1{
        text-align: center;
        margin-top: 5%;
        h1{
            font-size: 20px;
        }
    } 
    .column2{
        font-size: 25px;
        text-align: center;
        margin-top: 10%;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .column3{
        text-align: center;
        margin-top: 5%;
        h1{
            font-size:20px;
        }
        p{
            font-size: 17px;
        }
    }
}
.copyright{
    background-color: pink;
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    p{
        color: black;
        line-height: 40px;
        margin: 0;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto;
        background-color: pink;
        i{
            font-size: 20px;
            line-height: 40px;
        }
    }
}

@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
   .nav{
        width: 100%;
    }
   .search-container {
       display: none;
     }

   label{
       display: block;
       cursor: pointer;
       position: sticky;
       top: 2%;
       right: 2%;
   }
   .menu{
       text-align: center;
       width: 100%;
       display: none;
   }
   .menu a{
       background-color: white;
       display: block;
       border: 1px solid pink;
       margin: 0;
   }
   #toggle:checked + .menu{
       display: block;
   }

   .recommendedStreams{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
}

.individualCourses{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin:0;
}

.beginnerCodingCourses{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  i{
      color: pink;
  }
}

.intermediateCodingCourses{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  i{
      color: pink;
  }
}

.socialInnovation{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  i{
      color: pink;
  }
}

.careerAndLifeSkills{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  i{
      color: pink;
  }
}







   //FOOTER
footer{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 10%;
    margin-left: 10%; 
    text-align: center;
    margin: 0;
}
    //FOOTER
footer{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 10%;
    margin-left: 10%; 
    text-align: center;
    margin: 0;
}

.copyright{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    p{
        text-align: center;
    }
    i{
        margin: 0 auto;
    }
}
}
