//Start of the css
//Adding a font to the entire page
$borderSettings: none;

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
  }
  //Container for the whole page
  #container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


  //styling the nav
.nav{
    background-color: white;
    border-bottom: 1px solid pink;
    height: 70px;
    line-height: 60px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    //Editing the logo
    img{
        float: left;
        width: 150px;
        height: 50px;
    }
}
    
    //Adding a margin to the left of the icon when displayed
    .menu{
        margin: 0 30px 0 0;
    }
    //Styling the links
    .menu a{
        z-index: 1;
        font-size: 20px;
        text-decoration: none;
        clear: right;
        color: pink;
        margin: 0 10px;
        line-height: 60px;
    }
    .menu a:hover{
        color: purple;
    }
    //Styling the hamburger menu icon
    label{
        width: 26px;
        margin: 0 20px 0 0;
        font-size: 26px;
        line-height: 60px;
        display: none;
        float: right;
        color:#56bdbf;
    }
    //Not displaying the checkbox
    #toggle{
        display: none;
    }

  .search-container {
    float: right;
  
  //The input for the search bar
  input[type=text] {
    margin-top: 10%;
    font-size: 15px;
    border: none;
    float: right;
  }
}
  //The search button
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8%;
    margin-right: 16px;
    background: pink;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  //Adding a hover effect over the search button
  .search-container button:hover {
    background: pink;
  }

  .home_portfolio{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    background-color: #eaeae1;
    h1{
        margin: 0;
    }
}

.images1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    img{
    width: 379px;
    height: 300px;
    
    }
}

#portfolio_btn{
    grid-area: portfolio_btn;
    border: $borderSettings;
    height: 100px;
    position: relative;
    font-family: 'Poppins';

    #btn1{
        position: absolute;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 10px;
        left: 45%;
        top: 0%;
        transform: translate(-50%,50%);
        cursor: pointer;
    }
    #btn2{
        position: absolute;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 10px;
        left: 50%;
        top: 0%;
        transform: translate(-50%,50%);
        cursor: pointer;
    }
    #btn3{
        position: absolute;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 10px;
        left: 55%;
        top: 0%;
        transform: translate(-50%,50%);
        cursor: pointer;
    }
}





//CAROUSEL
.container{
    position: static;
    height: 200px;
    border: 1px solid black;
    width:99%;
    overflow: hidden;
    background-color: black;
  

.customer_logos{
    height: 120px;
    width: 250%;
    background-color: black;
    animation-name: thing;
    animation-duration: 15s;
    animation-timing-function: ease-in;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
   left: 100%;
  }
@keyframes thing{
100%{
    position: relative; left:-3880px;}
    
  }
img{
    width: 180px;
    height: 180px;
    margin-right:50px;
}
}


//FOOTER
footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-right: 10%;
    margin-left: 10%;
    .column1{
        margin-top: 5%;
        margin-left: 20%;
    } 
    .column2{
        font-size: 25px;
        margin-top: 10%;
        margin-left: 20%;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .column3{
        margin-top: 5%;
        margin-left: 20%;
        p{
            font-size: 17px;
        }
    }
}
.copyright{
    background-color: pink;
    height: 40px;
    line-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    p{
        color: black;
        line-height: 40px;
        margin: 0;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto;
        background-color: pink;
        i{
            font-size: 20px;
            line-height: 40px;
        }
    }
}


@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
   .nav{
        width: 100%;
    }
   .search-container {
       display: none;
     }

   label{
       display: block;
       cursor: pointer;
       position: sticky;
       top: 2%;
       right: 2%;
   }
   .menu{
       text-align: center;
       width: 100%;
       display: none;
   }
   .menu a{
       background-color: white;
       display: block;
       border: 1px solid pink;
       margin: 0;
   }
   #toggle:checked + .menu{
       display: block;
   }


   .images1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    img{
        margin: 0 auto;
    width: 300px;
    height: 221px;
    
    }
}
   




   //CAROUSEL
.container{
    position: static;
    height: 200px;
    border: 1px solid black;
    width:99%;
    overflow: hidden;
    background-color: black;
  

.customer_logos{
    height: 120px;
    width: 1050%;
    background-color: black;
    animation-name: thing;
    animation-duration: 15s;
    animation-timing-function: ease-in;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
   left: 100%;
  }
@keyframes thing{
100%{
    position: relative; left:-3880px;}
    
  }
img{
    width: 180px;
    height: 180px;
    margin-right:50px;
}
}

//FOOTER
footer{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 10%;
    margin-left: 10%; 
    text-align: center;
    margin: 0;
}
    //FOOTER
footer{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 10%;
    margin-left: 10%; 
    text-align: center;
    margin: 0;
    .column1{
        margin:0;
    } 
    .column2{
        font-size: 25px;
        margin-top: 10%;
        margin:0;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .column3{
        margin-top: 5%;
        margin:0;
        p{
            font-size: 17px;
        }
    }
}

.copyright{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    p{
        text-align: center;
    }
    i{
        margin: 0 auto;
    }
}

}



