body {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif; }

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto; }

.nav {
  background-color: white;
  border-bottom: 1px solid pink;
  text-align: center;
  height: 70px;
  line-height: 60px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; }
  .nav img {
    float: left;
    width: 150px;
    height: 50px; }

.menu {
  margin: 0 30px 0 0; }

.menu a {
  z-index: 1;
  font-size: 20px;
  text-decoration: none;
  clear: right;
  color: pink;
  margin: 0 10px;
  line-height: 60px; }

.menu a:hover {
  color: purple; }

label {
  width: 26px;
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  float: right; }

#toggle {
  display: none; }

.search-container {
  float: right; }

input[type=text] {
  margin-top: 10%;
  font-size: 15px;
  border: none;
  float: right; }

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8%;
  margin-right: 16px;
  background: pink;
  font-size: 15px;
  border: none;
  cursor: pointer; }

.search-container button:hover {
  background: pink; }

.mySlides {
  display: none; }

.slideshow_container {
  max-width: 100%;
  position: relative;
  margin: auto; }
  .slideshow_container img {
    width: 100%; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 1% 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.dot:hover {
  background-color: #717171;
  /* Fading animation */ }
  .dot:hover .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-duration: 2s; }
@-webkit-keyframes fade {
  from {
    opacity: .2; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .2; }
  to {
    opacity: 1; } }
.first_background {
  background: url("../images/Code4CT-homepage.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em 26%;
  color: white; }
  .first_background button {
    width: 150px;
    border: solid 2px white;
    color: white;
    padding: 10px;
    margin: 0 auto;
    background-color: transparent; }
  .first_background button:hover {
    background-color: grey;
    opacity: 0.5;
    transition: all 0.2s; }

.second_background {
  background: url("../images/background2.png") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em 26%;
  color: white; }
  .second_background button {
    width: 150px;
    border: solid 2px white;
    color: white;
    padding: 10px;
    margin: 0 auto;
    background-color: transparent; }
  .second_background button:hover {
    background-color: grey;
    opacity: 0.5;
    transition: all 0.2s; }

.third_background {
  background: url("../images/background3.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em 26%;
  color: white; }
  .third_background button {
    width: 150px;
    border: solid 2px white;
    color: white;
    padding: 10px;
    margin: 0 auto;
    background-color: transparent; }
  .third_background button:hover {
    background-color: grey;
    opacity: 0.5;
    transition: all 0.2s; }

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 20%; }

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(255, 120, 187, 0.5);
  padding: 20px; }
  article h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    opacity: 1; }
  article p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    opacity: 1;
    color: #fff; }

.second_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
  background-color: grey; }
  .second_section h2 {
    text-align: left;
    margin-left: 10%; }
  .second_section .four_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .second_section .four_images img {
      width: 300px;
      height: 230px;
      margin: 0 auto; }
  .second_section p {
    color: #3f3f3f;
    text-align: left;
    margin-left: 10%; }
  .second_section button {
    width: 150px;
    border: solid 2px white;
    color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: transparent; }
  .second_section button:hover {
    background-color: grey;
    opacity: 0.5;
    transition: all 0.2s; }

.four_parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  padding-top: 50px; }
  .four_parts img {
    width: 100px;
    height: 100px; }
  .four_parts p {
    color: black;
    font-size: 15px; }

.portfolio_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: grey;
  padding: 20px; }
  .portfolio_section .four_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px; }
  .portfolio_section img {
    width: 300px;
    height: 230px;
    margin: 0 auto;
    margin-top: 3%; }
  .portfolio_section .queen_image {
    width: 500px;
    height: 490px;
    margin: 0 auto;
    margin-top: 3%; }

@media screen and (max-width: 600px) {
  label {
    display: block;
    cursor: pointer; }

  .menu {
    text-align: center;
    width: 100%;
    display: none; }

  .menu a {
    background-color: white;
    display: block;
    border: 1px solid pink;
    margin: 0; }

  #toggle:checked + .menu {
    display: block; }

  .prev, .next, .text {
    font-size: 11px; }

  .first_background {
    background: url("../images/Code4CT-homepage.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
    background-repeat: no-repeat;
    margin: 0;
    padding: 2em 0;
    color: white; }
    .first_background button {
      width: 150px;
      border: solid 2px white;
      color: white;
      padding: 10px;
      margin: 0 auto;
      background-color: transparent; }
    .first_background button:hover {
      background-color: grey;
      opacity: 0.5;
      transition: all 0.2s; }
    .first_background article {
      padding: 5px;
      margin-left: 5%;
      margin-right: 5%; }
      .first_background article h1 {
        font-size: 30px; }
      .first_background article p {
        font-size: 20px; }

  .second_background {
    background: url("../images/background2.png") center, linear-gradient(180deg, #2b3946, #384a5b);
    background-repeat: no-repeat;
    margin: 0;
    padding: 2em 0;
    color: white; }
    .second_background button {
      width: 150px;
      border: solid 2px white;
      color: white;
      padding: 10px;
      margin: 0 auto;
      background-color: transparent; }
    .second_background button:hover {
      background-color: grey;
      opacity: 0.5;
      transition: all 0.2s; }
    .second_background article {
      padding: 5px;
      margin-left: 5%;
      margin-right: 5%; }
      .second_background article h1 {
        font-size: 30px; }
      .second_background article p {
        font-size: 20px; }

  .third_background {
    background: url("../images/background3.jpg") center, linear-gradient(180deg, #2b3946, #384a5b);
    background-repeat: no-repeat;
    margin: 0;
    padding: 2em 0;
    color: white; }
    .third_background button {
      width: 150px;
      border: solid 2px white;
      color: white;
      padding: 10px;
      margin: 0 auto;
      background-color: transparent; }
    .third_background button:hover {
      background-color: grey;
      opacity: 0.5;
      transition: all 0.2s; }
    .third_background article {
      padding: 5px;
      margin-left: 5%;
      margin-right: 5%; }
      .third_background article h1 {
        font-size: 30px; }
      .third_background article p {
        font-size: 20px; }

  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto; }

  .four_parts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    text-align: center;
    padding-top: 50px; }
    .four_parts img {
      width: 150px;
      height: 150px;
      margin: 0 auto; }
    .four_parts p {
      color: black;
      font-size: 100%; }

  .second_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; }
    .second_section p {
      color: black;
      margin: 2%; }
    .second_section .four_images img {
      padding: 10px;
      width: 300px;
      height: 250px;
      margin: 0 auto; }
    .second_section h2 {
      margin: 2%; }
    .second_section button {
      width: 150px;
      border: solid 2px white;
      color: white;
      padding: 10px;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 2%;
      background-color: transparent; }

  .portfolio_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; }
    .portfolio_section .four_images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px; }
    .portfolio_section img {
      width: 300px;
      height: 230px;
      margin: 0 auto;
      margin-top: 3%; }
    .portfolio_section .queen_image {
      width: 320px;
      height: 370px; } }

/*# sourceMappingURL=style.css.map */
